html
	background-color #fbfbfb
	font-family Verdana, Geneva, Tahoma, sans-serif
	font-size 14px
	font-weight 300
	text-align center

.wrapper
	width 100%
	background-color #fff
	border-radius 6px
	margin 15px auto
	box-sizing border-box
	padding 20px 15px
	box-shadow 0 0 6px 1px rgba(158,158,158,0.2)

.row
	margin auto
	max-width 1024px
	box-sizing border-box
	padding 0 12px
	display inline-block
	width 100%
	text-align left

.resetbtn
	overflow visible
	margin 0
	padding 0
	cursor pointer
	user-select none
	color inherit
	border 0
	background none
	font inherit
	line-height normal